@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<main class="grey lighten-5" ng-controller="AvailabilityController">
    <div class="container">
        <h4 class="pink-text text-lighten-2">Manage Availability</h4>
        <div class="divider"></div>

        <table class="striped">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Slot Duration (min)</th>
                    <th>Fee</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in availabilities track by $index">
                    <td>
                        <select ng-model="a.dayID"
                                material-select
                                ng-options="d.dayID as d.day for d in daysOfWeek"
                                class="browser-default">
                            <option value="">-- Select Day --</option>
                        </select>
                    </td>
                    <td><input type="time" ng-model="a.availabilityStart" /></td>
                    <td><input type="time" ng-model="a.availabilityEnd" /></td>
                    <td>
                        <div class="row" style="margin-bottom: 0;">
                            <div class="input-field col s6" style="padding: 0 5px;">
                                <input type="number"
                                       min="0"
                                       max="8"
                                       ng-model="a.slotHours"
                                       placeholder="0">
                                <label style="font-size: 0.8rem;">Hr</label>
                            </div>
                            <div class="input-field col s6" style="padding: 0 5px;">
                                <input type="number"
                                       min="0"
                                       max="59"
                                       ng-model="a.slotMinutes"
                                       placeholder="0">
                                <label style="font-size: 0.8rem;">Min</label>
                            </div>
                        </div>

                        <p class="grey-text" style="margin: 0;">
                            Total: {{ (a.slotHours || 0) * 60 + (a.slotMinutes || 0) }} mins
                        </p>
                    </td>
                    <td><input type="number" ng-model="a.fee" /></td>
                    <td><button class="btn-flat red-text" ng-click="removeAvailability($index)">✖</button></td>
                </tr>
            </tbody>
        </table>

        <div class="section">
            <button class="btn pink lighten-2" ng-click="addAvailability()">Add Row</button>
            <button class="btn teal" ng-click="saveAvailability()">Save Changes</button>
        </div>
    </div>
</main>
