@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<!-- Doctor Signup Form-->


<main class="grey lighten-5">
    <div class="container" ng-controller="AccountController">
        <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <div class="card center z-depth-3 white">
                    @*<h4 class="pink-text text-lighten-2">Create Your Account</h4>*@
                    <div class="row">
                        <form class="col s12" name="doctorForm" novalidate>

                            <div ng-show="currentStep === 1">
                                <div class="row">
                                    <h4 class="deep-purple-text text-lighten-3 center">Personal Details</h4>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m6 l6">
                                        <input id="first_name"
                                               name="firstName"
                                               type="text"
                                               ng-model="firstName"
                                               required>
                                        <label for="first_name">First Name</label>
                                        <span class="helper-text left-align red-text text-lighten-2"
                                              ng-show="(doctorForm.firstName.$touched || doctorForm.$submitted) && doctorForm.firstName.$error.required">
                                            First Name is required
                                        </span>
                                    </div>
                                    <div class="input-field col s12 m6 l6">
                                        <input id="middle_name"
                                               name="middleName"
                                               type="text"
                                               ng-model="middleName">
                                        <label for="middle_name">Middle Name (Optional)</label>
                                    </div>
                                    <div class="input-field col s12 m6 l6">
                                        <input id="last_name"
                                               name="lastName"
                                               type="text"
                                               ng-model="lastName"
                                               required>
                                        <label for="last_name">Last Name</label>
                                        <span class="helper-text left-align red-text text-lighten-2"
                                              ng-show="(doctorForm.lastName.$touched || doctorForm.$submitted) && doctorForm.lastName.$error.required">
                                            Last Name is Required
                                        </span>
                                    </div>
                                    <div class="input-field col s12 m6 l6">
                                        <input id="birth_date"
                                               name="birthDate"
                                               type="date"
                                               ng-model="birthDate"
                                               validate-age
                                               required>
                                        <label for="birth_date" class="active">Birth Date</label>
                                        <span class="helper-text left-align red-text text-lighten-2"
                                              ng-show="(doctorForm.birthDate.$touched || doctorForm.$submitted) && doctorForm.birthDate.$error.required">
                                            Birth Date is required
                                        </span>
                                        <span class="helper-text left-align amber-text text-lighten-2"
                                              ng-show="doctorForm.birthDate.$dirty && doctorForm.birthDate.$error.age">
                                            Must be 18 years old to continue
                                        </span>
                                    </div>

                                    <div class="input-field col s12 m6 l6" ng-init="getGenders()">
                                        <select id="gender"
                                                name="gender"
                                                ng-model="selectedGender"
                                                ng-options="g.genderID as g.gender for g in genders"
                                                material-select watch-collection="genders"
                                                form-name="doctorForm"
                                                required>
                                            <option value="" disabled selected>Choose your option</option>
                                        </select>
                                        <label>Gender</label>
                                        <span class="helper-text left-align red-text text-lighten-2"
                                              ng-show="(doctorForm.gender.$touched || doctorForm.$submitted) && doctorForm.gender.$error.required">
                                            Gender is required
                                        </span>
                                    </div>
                                    <div class="input-field col s12 m6 l6">
                                        <input id="phone_number"
                                               name="phoneNumber"
                                               type="text"
                                               ng-model="phoneNumber"
                                               required
                                               ng-pattern="/^(09|\+639)\d{9}$/">
                                        <label for="phone_number">Mobile Number</label>
                                        <span class="helper-text left-align red-text text-lighten-2"
                                              ng-show="(doctorForm.phoneNumber.$touched || doctorForm.$submitted) && doctorForm.phoneNumber.$error.required">
                                            Phone Number is Required
                                        </span>
                                        <span class="helper-text left-align red-text text-lighten-2"
                                              ng-show="(doctorForm.phoneNumber.$dirty || doctorForm.$submitted) && doctorForm.phoneNumber.$error.pattern">
                                            Enter a valid Philippine mobile number (e.g. 09171234567 or +639171234567)
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="currentStep === 2">
                                <div class="row">
                                    <h4 class="deep-purple-text text-lighten-3 center">Account</h4>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m6 l6">
                                        <input id="email"
                                               name="email"
                                               type="email"
                                               ng-model="email"
                                               required>
                                        <label for="email">Email</label>
                                        <span class="helper-text left-align red-text text-lighten-2"
                                              ng-show="(doctorForm.email.$touched || doctorForm.$submitted) && doctorForm.email.$error.required">
                                            Email is required
                                        </span>
                                        <span class="helper-text left-align red-text text-lighten-2"
                                              ng-show="doctorForm.email.$dirty && doctorForm.email.$invalid">
                                            Invalid email format
                                        </span>
                                    </div>
                                    <div class="input-field col s12 m6 l6">
                                        <input id="password"
                                               name="password"
                                               type="password"
                                               ng-model="password"
                                               ng-minlength="8"
                                               password-validator
                                               required>
                                        <label for="password">Password</label>
                                        <span class="helper-text left-align red-text text-lighten-2"
                                              ng-show="(doctorForm.password.$touched || doctorForm.$submitted) && doctorForm.password.$error.required">
                                            Password is required
                                        </span>
                                        <span class="helper-text left-align amber-text text-lighten-2"
                                              ng-show="(doctorForm.password.$dirty || doctorForm.$submitted) && doctorForm.password.$error.minlength">
                                            Password must be at least 8 characters.
                                        </span>
                                        <span class="helper-text left-align amber-text text-lighten-2"
                                              ng-show="doctorForm.password.$dirty && doctorForm.password.$error.pattern">
                                            Must include uppercase, number, and special character
                                        </span>
                                    </div>
                                    <div class="input-field col s12 m6 l6">
                                        <input id="confirmPassword"
                                               name="confirmPassword"
                                               type="password"
                                               ng-model="confirmPassword"
                                               required>
                                        <label for="confirmPassword">Confirm Password</label>
                                        <span class="helper-text left-align red-text text-lighten-2"
                                              ng-show="(doctorForm.confirmPassword.$touched || doctorForm.$submitted) && doctorForm.confirmPassword.$error.required">
                                            Confirm Password is required
                                        </span>
                                        <span class="helper-text left-align red-text text-lighten-2"
                                              ng-show="(doctorForm.confirmPassword.$dirty || doctorForm.$submitted) && confirmPassword !== password">
                                            Passwords do not match.
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="currentStep === 3">
                                <div class="row">
                                    <h5 class="deep-purple-text text-lighten-3 left">Credentials and Availability</h5>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m6 l6">
                                        <input id="license_number"
                                               name="licenseNumber"
                                               type="text"
                                               ng-model="licenseNumber"
                                               ng-minlength="7"
                                               required>
                                        <label for="license_number">License Number</label>
                                        <span class="helper-text left-align red-text text-lighten-2"
                                              ng-show="(doctorForm.licenseNumber.$touched || doctorForm.$submitted) && doctorForm.licenseNumber.$error.required">
                                            License number is required
                                        </span>
                                        <span class="helper-text left-align amber-text text-lighten-2"
                                              ng-show="doctorForm.licenseNumber.$dirty && doctorForm.licenseNumber.$error.minlength">
                                            License number must be atleast 7 digit
                                        </span>
                                    </div>
                                    <div class="input-field col s12 m6 l6">
                                        <input id="specialization"
                                               name="specialization"
                                               type="text"
                                               ng-model="specialization"
                                               required>
                                        <label for="specialization">Specialization</label>
                                        <span class="helper-text left-align red-text text-lighten-2"
                                              ng-show="(doctorForm.specialization.$touched || doctorForm.$submitted) && doctorForm.specialization.$error.required">
                                            Specialization is required
                                        </span>
                                    </div>
                                    <div class="input-field col s12 m6 l6" ng-init="getDaysOfWeek()">
                                        <select multiple
                                                id="days"
                                                name="days"
                                                ng-model="selectedDays"
                                                material-select
                                                watch-collection="daysOfWeek"
                                                form-name="doctorForm"
                                                ng-options="d.dayID as d.day for d in daysOfWeek"
                                                required>
                                            <option value="" disabled>Select Available Days</option>
                                        </select>
                                        <label for="days">Available Days</label>
                                        <span class="helper-text left-align red-text text-lighten-2"
                                              ng-show="(doctorForm.days.$touched || doctorForm.$submitted) && doctorForm.days.$error.required">
                                            Select at least one day.
                                        </span>
                                    </div>
                                    <div ng-repeat="day in selectedDays">
                                        <div class="input-field col s12 m6 l6">
                                            <input id="timeStart{{day}}"
                                                   name="timeStart{{day}}"
                                                   type="time"
                                                   ng-model="availabilityTimes[day].start"
                                                   placeholder="Start Time"
                                                   required>
                                            <label for="timeStart{{day}}" class="active">
                                                <b class="teal-text text-lighten-2">Start Time</b> for
                                                <b class="deep-purple-text text-lighten-3">{{getDayName(day)}}</b>
                                            </label>
                                            <span class="helper-text left-align red-text text-lighten-2"
                                                  ng-show="(doctorForm['timeStart' + day].$touched || doctorForm.$submitted) && doctorForm['timeStart' + day].$error.required">
                                                This field is required
                                            </span>
                                        </div>
                                        <div class="input-field col s12 m6 l6">
                                            <input id="timeEnd{{day}}"
                                                   name="timeEnd{{day}}"
                                                   type="time"
                                                   ng-model="availabilityTimes[day].end"
                                                   placeholder="End Time"
                                                   required>
                                            <label><b class="pink-text text-lighten-2">End Time</b> for <b class="deep-purple-text text-lighten-3">{{getDayName(day)}}</b></label>
                                            <span class="helper-text left-align red-text text-lighten-2"
                                                  ng-show="(doctorForm['timeEnd' + day].$touched || doctorForm.$submitted) && doctorForm['timeEnd' + day].$error.required">
                                                This field is required
                                            </span>
                                        </div>
                                        <div class="input-field col s12 m6 l6">
                                            <input id="fee{{day}}"
                                                   name="fee{{day}}"
                                                   type="number"
                                                   min="0"
                                                   step="0.01"
                                                   ng-model="availabilityTimes[day].fee"
                                                   placeholder="Fee"
                                                   required>
                                            <label for="fee{{day}}"><b class="teal-text text-lighten-2">Consultation Fee</b> for <b class="deep-purple-text text-lighten-3">{{getDayName(day)}}</b></label>

                                            <span class="helper-text left-align red-text text-lighten-2"
                                                  ng-show="(doctorForm['fee' + day].$touched || doctorForm.$submitted) && doctorForm['fee' + day].$error.required">
                                                Fee is required.
                                            </span>
                                            <span class="helper-text left-align red-text text-lighten-2"
                                                  ng-show="doctorForm['fee' + day].$error.min">
                                                Fee must be at least ₱0.
                                            </span>
                                            <span class="helper-text left-align red-text text-lighten-2"
                                                  ng-show="doctorForm['fee' + day].$error.max">
                                                Fee must not exceed ₱10,000.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Buttons -->
                            <div class="row">
                                <div class="col s12 m6 l6">
                                    <a class="waves-effect waves-teal btn-large white teal-text text-lighten-2"
                                       ng-show="currentStep > 1"
                                       ng-click="prevStep()">← Back</a>
                                    <a class="waves-effect waves-teal btn-large white teal-text text-lighten-2"
                                       ng-show="currentStep === 1">Cancel</a>
                                </div>
                                <div class="col s12 m6 l6">
                                    <button class="waves-effect waves-light btn-large pink lighten-2 white-text"
                                            ng-show="currentStep < 3"
                                            ng-click="nextStep()">
                                        Next →
                                    </button>
                                    <button class="waves-effect waves-light btn-large pink lighten-2 white-text"
                                            type="submit"
                                            ng-show="currentStep === 3"
                                            ng-click="signUp()">
                                        Sign Up
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="center-align deep-purple-text text-lighten-3">
                        <br />
                        Already have an account? <a href="/Account/Login" class="pink-text text-lighten-3"><b>Log in</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
