@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<!-- User Signup Form-->
<style>
    b:hover {
        color: #9575cd;
    }
</style>
<main class="grey lighten-5">
    <!-- Background Light -->
    <div class="container" ng-controller="AccountController">
        <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <div class="card z-depth-3">
                    <div class="card-content">
                        <!-- Title in Primary -->
                        <h4 class="pink-text text-lighten-2 center-align">Create Your Account</h4>
                        <form name="userForm" ng-submit="signUp()" novalidate>

                            <div class="row">
                                <!-- Name Row -->
                                <div class="input-field col s12 m6 l6">
                                    <input id="first_name" name="firstName" type="text" ng-model="firstName" required>
                                    <label for="first_name">First Name</label>
                                    <span class="helper-text red-text text-lighten-2"
                                          ng-show="(userForm.firstName.$touched || userForm.$submitted) && userForm.firstName.$error.required">
                                        First Name is required
                                    </span>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <input id="middle_name" name="middleName" type="text" ng-model="middleName">
                                    <label for="middle_name">Middle Name (Optional)</label>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <input id="last_name" name="lastName" type="text" ng-model="lastName" required>
                                    <label for="last_name">Last Name</label>
                                    <span class="helper-text red-text text-lighten-2"
                                          ng-show="(userForm.lastName.$touched || userForm.$submitted) && userForm.lastName.$error.required">
                                        Last Name is required
                                    </span>
                                </div>

                                <!-- Birthdate / Gender / Phone -->
                                <div class="input-field col s12 m6 l6">
                                    <input id="birth_date" name="birthDate" type="date"
                                           ng-model="birthDate" validate-age required>
                                    <label for="birth_date">Birth Date</label>
                                    <span class="helper-text red-text text-lighten-2"
                                          ng-show="(userForm.birthDate.$touched || userForm.$submitted) && userForm.birthDate.$error.required">
                                        Birth Date is required
                                    </span>
                                    <span class="helper-text amber-text text-lighten-2"
                                          ng-show="userForm.birthDate.$dirty && userForm.birthDate.$error.age">
                                        You must be at least 18 years old
                                    </span>
                                </div>
                                <div class="input-field col s12 m6 l6" ng-init="getGenders()">
                                    <select id="gender" name="gender" ng-model="selectedGender"
                                            ng-options="g.genderID as g.gender for g in genders"
                                            material-select watch-collection="genders" required>
                                        <option value="" disabled selected>Choose your option</option>
                                    </select>
                                    <label>Gender</label>
                                    <span class="helper-text red-text text-lighten-2"
                                          ng-show="(userForm.gender.$touched || userForm.$submitted) && userForm.gender.$error.required">
                                        Gender is required
                                    </span>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <input id="phone_number" name="phoneNumber" type="text"
                                           ng-model="phoneNumber" required ng-pattern="/^(09|\+639)\d{9}$/">
                                    <label for="phone_number">Mobile Number</label>
                                    <span class="helper-text red-text text-lighten-2"
                                          ng-show="(userForm.phoneNumber.$touched || userForm.$submitted) && userForm.phoneNumber.$error.required">
                                        Phone Number is required
                                    </span>
                                    <span class="helper-text amber-text text-lighten-2"
                                          ng-show="(userForm.phoneNumber.$touched || userForm.$submitted) && userForm.phoneNumber.$error.pattern">
                                        Enter a valid Philippine mobile number (e.g. 09171234567 or +639171234567)
                                    </span>
                                </div>

                                <!-- Email / Password -->
                                <div class="input-field col s12 m6 l6">
                                    <input id="email" name="email" type="email" ng-model="email" ng-blur="checkEmailExists(email)" required>
                                    <label for="email">Email</label>
                                    <span class="helper-text red-text text-lighten-2"
                                          ng-show="(userForm.email.$touched || userForm.$submitted) && userForm.email.$error.required">
                                        Email is required
                                    </span>
                                    <span class="helper-text red-text text-lighten-2"
                                          ng-show="userForm.email.$dirty && userForm.email.$invalid">
                                        Invalid email format
                                    </span>
                                    <!-- Duplicate email -->
                                    <span class="helper-text left-align red-text text-lighten-2"
                                          ng-show="emailExists">
                                        Email is already registered
                                    </span>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <input id="password" name="password" type="password" ng-model="password"
                                           ng-minlength="8" password-validator required>
                                    <label for="password">Password</label>
                                    <span class="helper-text red-text text-lighten-2"
                                          ng-show="(userForm.password.$touched || userForm.$submitted) && userForm.password.$error.required">
                                        Password is required
                                    </span>
                                    <span class="helper-text amber-text text-lighten-2"
                                          ng-show="(userForm.password.$dirty || userForm.$submitted) && userForm.password.$error.minlength">
                                        Password must be at least 8 characters.
                                    </span>
                                    <span class="helper-text amber-text text-lighten-2"
                                          ng-show="userForm.password.$dirty && userForm.password.$error.pattern">
                                        Must include uppercase, number, and special character
                                    </span>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <input id="confirmPassword" name="confirmPassword" type="password"
                                           ng-model="confirmPassword" required>
                                    <label for="confirmPassword">Confirm Password</label>
                                    <span class="helper-text red-text text-lighten-2"
                                          ng-show="(userForm.confirmPassword.$touched || userForm.$submitted) && userForm.confirmPassword.$error.required">
                                        Confirm Password is required
                                    </span>
                                    <span class="helper-text red-text text-lighten-2"
                                          ng-show="(userForm.confirmPassword.$dirty || userForm.$submitted) && confirmPassword !== password">
                                        Passwords do not match.
                                    </span>
                                </div>
                            </div>
                            <!-- Buttons -->
                            <div class="row center-align" style="margin-top: 20px;">
                                <!-- Primary Action -->
                                <button class="waves-effect waves-light btn-large pink lighten-2 white-text" type="submit">
                                    Sign Up
                                </button>
                                <!-- Secondary Action -->
                                <a class="waves-effect waves-light btn-large teal lighten-2 white-text" style="margin-top: 5px;"
                                   ng-click="cancelSignUp()">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="center-align deep-purple-text text-lighten-3">
                        Already have an account? <a href="/Account/Login" class="pink-text text-lighten-3"><b>Log in</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
