@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<main class="grey lighten-5">
    <a href="@Url.Action("Index", "Home")" class="btn-floating btn-large pink lighten-2" style="position: fixed; top: 20px; left: 20px;">
        <i class="material-icons">arrow_back</i>
    </a>
    <div ng-controller="AccountController">
        <div class="row">
            <!-- Left side caption -->
            <div class="col s12 l6 center-align hide-on-small-only" style="margin-top:100px;">
                <h2 class="pink-text text-lighten-2">SafeTalk</h2> <!-- ✅ Primary -->
                <h5 class="grey-text text-darken-2">
                    A safe space for sexual health consultations and education.
                </h5>
                <p class="grey-text text-darken-1" style="margin-top:20px;">
                    Connect with trusted health professionals, book confidential appointments,
                    and access resources that empower you to make informed decisions.
                </p>
            </div>

            <!-- Right side login card -->
            <div class="col s12 l4 offset-l1">
                <div class="card center z-depth-3" style="padding: 30px; border-radius: 30px;">
                    <h3 class="deep-purple-text text-lighten-2">Welcome!</h3> <!-- ✅ Accent -->
                    <div class="row">
                        <form class="col s12" id="loginForm" name="loginForm" novalidate ng-submit="login()">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" name="email" type="email" ng-model="email" required>
                                    <label for="email">Email</label>
                                    <span class="helper-text left-align red-text text-lighten-2"
                                          ng-show="(loginForm.email.$touched || loginForm.$submitted) && loginForm.email.$error.required">
                                        Enter email address
                                    </span>
                                    <span class="helper-text left-align red-text text-lighten-2"
                                          ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                                        Invalid email format
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12" style="margin: 0px">
                                    <input id="password" name="password" type="password" ng-model="password" style="margin: 0px;" required>
                                    <label for="password">Password</label>
                                    <span class="helper-text left-align red-text text-lighten-2"
                                          ng-show="(loginForm.password.$touched || loginForm.$submitted) && loginForm.password.$error.required">
                                        Enter password
                                    </span>
                                    <div class="right-align">
                                        <p><a href="" ng-click="openForgotPassword()">Forgot Password?</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <!-- ✅ Primary button -->
                                    <button class="waves-effect waves-light btn-large pink lighten-2 white-text" type="submit">Log In</button>
                                    <!-- ✅ Secondary cancel button -->
                                </div>
                            </div>
                            <div class="row">
                                <p class="grey-text text-darken-2">
                                    Don't have an account?
                                    <a href="@Url.Action("Signup", "Account")" class="deep-purple-text text-lighten-2">Sign Up</a> <!-- ✅ Accent -->
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Forgot Password Modal -->
        <div id="forgotPasswordModal" class="modal">
            <div class="modal-content">
                <h5>Reset Password</h5>
                <p>Enter your email and we’ll send you a password reset link.</p>
                <input type="email" ng-model="forgot.email" placeholder="Enter your email" required />

                <button class="btn deep-purple lighten-2" ng-click="submitForgotPassword()">
                    Send Reset Link
                </button>
            </div>
        </div>
    </div>
</main>
