@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div ng-controller="AccountController" ng-init="init()"
     class="container center-align" style="margin-top: 50px; max-width: 400px;">
    <h5>Reset Your Password</h5>
    <p>Please enter your new password below.</p>

    <div class="input-field">
        <input type="password" ng-model="password.newPassword" placeholder="New Password" required />
    </div>
    <div class="input-field">
        <input type="password" ng-model="password.confirmPassword" placeholder="Confirm Password" required />
    </div>

    <button class="btn deep-purple lighten-2 waves-effect" ng-click="resetPassword()">
        Reset Password
    </button>
</div>