@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<main>
    <div class="container">
        <h2 class="white-text">
            Please wait for your account to be verified...
        </h2>
    </div>
</main>