@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<!-- For Doctor Appointments -->
<main>
    <div class="container" ng-init="getDoctorAppointments()" ng-controller="AppointmentsController">
        <div>
            <h4 class="pink-text text-lighten-2">Appointments</h4>
        </div>
        <div class="divider"></div>
        <br />
        <div ng-show="appointments.length > 0">
            <div class="row">
                <div class="input-field col s12 m3 l3">
                    <select ng-model="appointmentFilter">
                        <option value="all">Show All</option>
                        <option selected value="active">Active Only</option>
                        <option value="includeRejected">Include Rejected</option>
                        <option value="includeCanceled">Include Canceled</option>
                        <option value="includeMissed">Include Missed</option>
                    </select>
                    <label>Filter Appointments</label>
                </div>
            </div>
            <table id="appointmentsTable" class="display responsive nowrap">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Patient</th>
                        <th>Chief Complaint</th>
                        <th>Date</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="appt in filteredAppointments()">
                        <td>
                            <div class="center" ng-switch="appt.status">
                                <div ng-switch-when="0">
                                    <button class="btn green" ng-click="approveAppointment(appt.appointmentID)">Approve</button>
                                    <button class="btn red" ng-click="rejectAppointment(appt.appointmentID)">Reject</button>
                                </div>
                                <div ng-switch-when="3">
                                    <a href="@Url.Action("Consultations", "Consultation")" class="waves-effect waves-light btn teal lighten-2">Proceed</a>
                                </div>
                                <button class="btn grey" ng-switch-default disabled>No Action</button>
                            </div>
                        </td>
                        <td>{{appt.patientName}}</td>
                        <td>{{appt.chiefComplaint}}</td>
                        <td>{{appt.date | dotNetDate | date: 'yyyy-MM-dd'}}</td>
                        <td>{{appt.startTime | timespanToTime}}</td>
                        <td>{{appt.endTime | timespanToTime}}</td>
                        <td ng-switch="appt.status">
                            <span ng-switch-when="0" class="orange-text">Pending Approval</span>
                            <span ng-switch-when="1" class="blue-text">Approved - Awaiting Payment</span>
                            <span ng-switch-when="2" class="orange-text">Payment Submitted</span>
                            <span ng-switch-when="3" class="green-text">Paid</span>
                            <span ng-switch-when="4" class="red-text">
                                Rejected
                                <br />
                                <small><i>{{appt.rejectReason}}</i></small>
                            </span>
                            <span ng-switch-when="5" class="grey-text">Canceled</span>
                            <span ng-switch-when="6" class="green-text">Completed</span>
                            <span ng-switch-when="7" class="deep-orange-text">Missed</span>
                            <span ng-switch-default class="grey-text">Unknown</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="center-align" ng-show="appointments.length === 0">
            <p class="grey-text">No appointments available at this time.</p>
        </div>
        <!-- Reject Reason Modal -->
        <div id="rejectModal" class="modal">
            <div class="modal-content">
                <h5>Reject Appointment</h5>
                <p>Please provide a reason for rejecting this appointment:</p>
                <div class="input-field">
                    <textarea id="rejectReason" class="materialize-textarea" ng-model="rejectReason" required></textarea>
                    <label for="rejectReason">Reason</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn grey lighten-1" ng-click="cancelReject()">Cancel</button>
                <button class="btn red" ng-click="confirmReject()">Confirm Reject</button>
            </div>
        </div>
    </div>
</main>