@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<!-- For Doctor Appointments -->
<main>
    <div class="container" ng-init="getDoctorAppointments()" ng-controller="AppointmentsController">
        <div>
            <h4 class="pink-text text-lighten-2">Appointments</h4>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12">
                <label>
                    <input type="checkbox" ng-model="showCanceled" />
                    <span>Show Canceled Appointments</span>
                </label>
            </div>
        </div>
        <table id="appointmentsTable" class="display responsive nowrap">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Patient</th>
                    <th>Date</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="appt in filteredAppointments()">
                    <td>
                        <div class="center" ng-switch="appt.status">
                            <div ng-switch-when="0">
                                <button class="btn green" ng-click="approveAppointment(appt.appointmentID)">Approve</button>
                                <button class="btn red" ng-click="rejectAppointment(appt.appointmentID)">Reject</button>
                            </div>
                            <div ng-switch-when="2" ng-controller="PaymentController">
                                <button class="waves-effect waves-light btn green" ng-click="openImageModal(appt.paymentImage, appt.appointmentID)">Verify Payment</button>
                            </div>
                            <div ng-switch-when="3">
                                <a href="@Url.Action("Consultations", "Consultation")" class="waves-effect waves-light btn teal lighten-2">Proceed</a>
                            </div>
                            <div ng-switch-when="6">
                                <a ng-href="{{appt.transcriptPath}}" class="waves-effect waves-light btn teal lighten-2" download>Download Transcript</a>
                            </div>
                            <button class="btn grey" ng-switch-default disabled>No Action</button>
                        </div>
                    </td>
                    <td>{{appt.patientName}}</td>
                    <td>{{appt.date | dotNetDate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{appt.startTime | timespanToTime}}</td>
                    <td>{{appt.endTime | timespanToTime}}</td>
                    <td ng-switch="appt.status">
                        <span ng-switch-when="0" class="orange-text">Pending Approval</span>
                        <span ng-switch-when="1" class="blue-text">Approved - Awaiting Payment</span>
                        <span ng-switch-when="2" class="orange-text">Payment Submitted</span>
                        <span ng-switch-when="3" class="green-text">Paid</span>
                        <span ng-switch-when="4" class="red-text">Rejected</span>
                        <span ng-switch-when="5" class="grey-text">Canceled</span>
                        <span ng-switch-when="6" class="green-text">Completed</span>
                        <span ng-switch-default class="grey-text">Unknown</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Image Preview Modal -->
        <div id="imageModal" class="modal" ng-controller="PaymentController">
            <div class="modal-content center-align">
                <img class="materialboxed" ng-src="{{modalImage}}" style="max-width: 100%; height: auto; cursor: zoom-in;" />
            </div>
            <div class="modal-footer">
                <button class="btn green" ng-click="verifyPayment(appointmentID)">Approve</button>
                <button class="btn red" ng-click="verifyPayment(appointmentID)">Reject</button>
                <a href="#!" class="waves-effect waves-light modal-close btn grey">Close</a>
            </div>
        </div>
    </div>
</main>