@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="container row" ng-controller="ReportsController" ng-init="getDoctorHistory()">

    <!-- Patients -->
    <div ng-if="!selectedDoctor" class="col s12">
        <h4 class="center-align">Patients</h4>
        <table id="doctorsTable" class="display responsive nowrap">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doctor in doctorHistory">
                    <td>{{doctor.FullName}}</td>
                    <td>{{doctor.Email}}</td>
                    <td>{{doctor.Phone}}</td>
                    <td>
                        <button class="btn-small teal lighten-1 waves-effect"
                                ng-click="loadDoctorHistory(doctor.DoctorID)">
                            View History
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Patient History -->
    <div ng-if="selectedDoctor" class="col s12">
        <h4 class="center-align">History for {{selectedDoctor.FullName}}</h4>
        <table id="doctorHistoryTable" class="highlight responsive-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="h in doctorHistory">
                    <td>{{h.Date | dotNetDate | date:'mediumDate'}}</td>
                    <td>{{h.Time}}</td>
                    <td>
                        <span ng-switch="h.Status">
                            <span ng-switch-when="0" class="orange-text">Pending Approval</span>
                            <span ng-switch-when="1" class="blue-text">Approved - Awaiting Payment</span>
                            <span ng-switch-when="2" class="orange-text">Payment Submitted</span>
                            <span ng-switch-when="3" class="green-text">Paid</span>
                            <span ng-switch-when="4" class="red-text">Rejected</span>
                            <span ng-switch-when="5" class="grey-text">Canceled</span>
                            <span ng-switch-when="6" class="green-text">Completed</span>
                            <span ng-switch-when="7" class="red-text">Missed</span>
                            <span ng-switch-default class="grey-text">Unknown</span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="center-align" style="margin-top:20px;">
            <button class="btn grey waves-effect" ng-click="backToDoctors()">
                Back to Patients
            </button>
        </div>
    </div>

</div>
