@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<!-- Admin Resources View -->
<main ng-controller="ResourcesController">
    <div class="container">
        <h4 class="pink-text text-lighten-2">Manage Resources</h4>
        <div class="divider"></div>
        <br />
        <a class="btn teal lighten-2 waves-effect waves-light" ng-click="openAddForm()">Add Resource</a>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l4" ng-repeat="res in resources">
                <div class="card hover-card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="~/Content/Images/firstSlide.jpeg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">{{res.title}}</span>
                        <p>{{res.category}} • {{res.type}}</p>
                        <p class="grey-text">{{res.publishedDate | date: 'yyyy-MM-dd'}}</p>
                    </div>
                    <div class="card-action">
                        <a href="#" ng-click="openEditForm(res)">Edit</a>
                        <a href="#" class="red-text" ng-click="deleteResource(res.resourceID)">Delete</a>
                    </div>
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <p>{{res.content}}</p>
                        <a class="hover-link" ng-href="{{res.url}}" target="_blank">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Structure -->
    <div id="resourceModal" class="modal">
        <div class="modal-content">
            <h5 class="pink-text text-lighten-2">{{formMode}} Resource</h5>
            <form ng-submit="saveResource()">
                <div class="input-field">
                    <input type="text" ng-model="resource.title" required>
                    <label class="active">Title</label>
                </div>
                <div class="input-field">
                    <textarea ng-model="resource.content" class="materialize-textarea"></textarea>
                    <label class="active">Content</label>
                </div>
                <div class="input-field">
                    <input type="text" ng-model="resource.category">
                    <label class="active">Category</label>
                </div>
                <div class="input-field">
                    <input type="text" ng-model="resource.type">
                    <label class="active">Type</label>
                </div>
                <div class="input-field">
                    <input type="url" ng-model="resource.url">
                    <label class="active">URL</label>
                </div>
                <div class="input-field">
                    <input type="date" ng-model="resource.publishedDate">
                    <label class="active">Published Date</label>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn green">Save</button>
                </div>
            </form>
        </div>
    </div>
</main>