@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<main>
    <div style="height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <p class="grey-text center">
            This appointment is currently inactive. It may be past or not on the scheduled date yet.
        </p>
    </div>
</main>