@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<main>
    <div class="center-align">
        <h4 class="grey-text">
            You are unauthorized to join this appointment
        </h4>
    </div>
</main>